{% extends "template.html" %}

{% block titulo %}
Cardápio
{% endblock %}

{% block conteudo %}

{% if promocao %}
<img src="/static/logo.png">
{% endif %}
<div class="row">
  {% for p in data %}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="/static/assets/{{p.imagem}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{p.nome}}</h5>        
        <h6 class="card-title">Quantidade disponível: {{p.info.quantidade}}</h5>
        <h6 class="card-title">Valor unitario: {{p.info.preco}}</h5>        
        
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}